image: oven/bun:alpine

stages:
  - deploy

cache:
  paths:
    - node_modules/

pages:
  stage: deploy
  script:
    - bun install
    - bun run build
    - cp dist/cookies.min.js public/cookies.min.js
  artifacts:
    paths:
      - public
  only:
    - main
