image: oven/bun:alpine

stages:
  - deploy

cache:
  paths:
    - node_modules/

pages:
  stage: deploy
  script:
    - bun install
    - apk add --no-cache jq coreutils tzdata
    - cp /usr/share/zoneinfo/Asia/Vladivostok /etc/localtime
    - VERSION=$(jq -r .version package.json)
    - LAST_EDIT=$(find src -name "*.ts" -exec stat -c "%Y %n" {} + | sort -nr | head -1 | cut -d' ' -f1 | xargs -I{} date -d "@{}" "+%d %B %Y" | sed 's/January/января/; s/February/февраля/; s/March/марта/; s/April/апреля/; s/May/мая/; s/June/июня/; s/July/июля/; s/August/августа/; s/September/сентября/; s/October/октября/; s/November/ноября/; s/December/декабря/')
    - sed -i "s/{{VERSION}}/${VERSION}/g" public/index.html
    - sed -i "s/{{LAST_EDIT}}/${LAST_EDIT}/g" public/index.html
    - bun run build
    - cp dist/cookies.min.js public/cookies.min.js
  artifacts:
    paths:
      - public
  only:
    - main
