image: node:22

stages:
  - deploy

cache:
  paths:
    - node_modules/

pages:
  stage: deploy
  script:
    - npm install
    - npm run build
    - cp dist/cookies.min.js public/cookies.min.js
  artifacts:
    paths:
      - public
  only:
    - main
