image: node:22

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

before_script:
  - npm ci

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist

pages:
  stage: deploy
  script:
    - cp dist/cookies.min.js public/cookies.min.js
  artifacts:
    paths:
      - public
  only:
    - main
