image: oven/bun:alpine

stages:
    - deploy

cache:
    paths:
        - node_modules/

pages:
    stage: deploy
    script:
        - bun install
        - apk add --no-cache jq coreutils tzdata bc
        - cp /usr/share/zoneinfo/Asia/Vladivostok /etc/localtime
        - VERSION=$(jq -r .version package.json)
        - LAST_EDIT=$(stat -c "%Y" cookies.ts | xargs -I{} date -d "@{}" "+%d %B %Y" | sed 's/January/января/; s/February/февраля/; s/March/марта/; s/April/апреля/; s/May/мая/; s/June/июня/; s/July/июля/; s/August/августа/; s/September/сентября/; s/October/октября/; s/November/ноября/; s/December/декабря/')
        - echo "VERSION:$VERSION"
        - echo "LAST_EDIT:$LAST_EDIT"
        - sed -i "s|{{VERSION}}|${VERSION}|g" docs/index.html
        - sed -i "s|{{LAST_EDIT}}|${LAST_EDIT}|g" docs/index.html
        - bun run build
        - cp dist/cookies.min.js docs/cookies.min.js
        - FILE_SIZE=$(stat -c%s docs/cookies.min.js)
        - FILE_SIZE_KB=$(echo "scale=1; $FILE_SIZE / 1024" | bc)
        - echo "FILE_SIZE_KB:${FILE_SIZE_KB}"
        - sed -i "s|{{FILE_SIZE}}|${FILE_SIZE_KB}|g" docs/index.html
    artifacts:
        paths:
            - docs
    only:
        - main
