:root {

    /*  colors & bg  */
    --cookies-bg: hsl(0, 0%, 100%);

    /*  shadow  */
    --cookies-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    /*  radius  */
    --cookies-radius: 10px;

    /*  padding  */
    --cookies-padding: 20px;

    /*  position  */
    --cookies-left: 20px;
    --cookies-bottom: 20px;
    --cookies-left-mobile: 20px;
    --cookies-bottom-mobile: 20px;

    /*  line  */
    --cookies-line-gap: 20px;

    /*  margin  */
    --cookies-marginn-top-elements: 20px;

    /* icon   */
    --cookies-icon-size: 50px;
    --cookies-icon-font-size: 22px;
    --cookies-icon-border: 100%;
    --cookies-icon-bg: hsl(0, 0%, 0%);
    --cookies-icon-color: hsl(0, 0%, 100%);

    /*  title  */
    --cookies-title-size: 1.5rem;
    --cookies-margin-top: 0;
    --cookies-margin-bottom: 0;
    --cookies-margin-left: 0;
    --cookies-margin-right: 0;

    /*  text  */
    --cookies-text-color: hsl(0, 0%, 0%);
    --cookies-text-link: hsl(0, 100%, 50%);
    --cookies-text-link-hover: hsl(0, 39%, 51%);


    /*  button  */
    --cookies-btn-bg: hsl(0, 0%, 0%);
    --cookies-btn-bg-hover: hsl(0, 0%, 46%);
    --cookies-btn-text-color: hsl(0, 0%, 100%);
    --cookies-btn-text-color-hover: hsl(0, 0%, 92%);
    --coolies-btn-radius: 5px;
    --cookies-btn-padding: 15px 30px;
}

#cookies {
    position: fixed;
    bottom: var(--cookies-left);
    left: var(--cookies-bottom);
    background: var(--cookies-bg);
    max-width: 550px;
    padding: var(--cookies-padding);
    border-radius: var(--cookies-radius);
    z-index: calc(infinity);
    box-shadow: var(--cookies-shadow);

    @media screen and (width <= 550px) {
        & {
            bottom: var(--cookies-bottom-mobile);
            left: var(--cookies-left-mobile);
            width: calc(100% - var(--cookies-left-mobile) * 2);
        }
    }

    #cookies-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--cookies-marginn-top-elements);
        color: var(--cookies-text-color);

        .cookies-line {
            display: flex;
            align-items: center;
            gap: var(--cookies-line-gap);

            @media screen and (width <= 550px) {
                & {
                    flex-direction: column;
                }
            }
        }

        &:has(#cookies-icon) {
            #cookies-text {
                margin-left: calc(var(--cookies-icon-size) + var(--cookies-line-gap));
            }
        }

        #cookies-icon {
            width: var(--cookies-icon-size);
            height: var(--cookies-icon-size);
            aspect-ratio: 1 / 1;

            background: var(--cookies-icon-bg);
            border-radius: var(--cookies-icon-border);

            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: var(--cookies-icon-color);
                font-size: var(--cookies-icon-font-size);
            }
        }

        #cookies-title {
            font-size: var(--cookies-title-size);
            margin: var(--cookies-margin-top) var(--cookies-margin-right) var(--cookies-margin-bottom) var(--cookies-margin-left);
            text-align: center;
        }

        #cookies-text {
            line-height: 1.5em;
            color: var(--cookies-text-color);
            font-style: normal;

            @media screen and (width <= 550px) {
                & {
                    text-align: center;
                }
            }

            @media screen and (width <= 550px) {
                & {
                    margin-left: 0;
                }
            }
            a {
                transition: all .5s ease-in-out;
                color: var(--cookies-text-link);

                @media (hover: hover) {
                    &:hover {
                        color: var(--cookies-text-link-hover);
                    }
                }
            }
        }
    }

    #cookies-btn:not([class]) {
        padding: var(--cookies-btn-padding);
        align-self: flex-end;
        transition: all .5s ease-in-out;
        border-radius: var(--coolies-btn-radius);
        background: var(--cookies-btn-bg);
        color: var(--cookies-btn-text-color);
        border: none;

        @media screen and (width <= 550px) {
            & {
                align-self: center;
            }
        }

        @media (hover: hover) {
            &:hover {
                background: var(--cookies-btn-bg-hover);
                color: var(--cookies-btn-text-color-hover);
            }
        }
    }
}